fastmcp>=2.11.1
lancedb
pyarrow
openai>=1.99.1
pyyaml
dicttoxml
tiktoken>=0.10.0
jinja2
langsmith>=0.4.12
pydantic
cryptography>=45.0.6
uvicorn[standard]
python-dotenv
langgraph>=0.6.3
influxdb==5.3.2
pandas>=2.0.0p